
# Logs de erro do Node
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# --- BACKEND ---
# Pasta de dependências do backend
/backend/node_modules

# --- FRONTEND ---
# Pasta de dependências do frontend
/frontend/node_modules

# Pasta de build/produção do Vite
/frontend/dist

# Cache do Vite
/frontend/.vite

# Arquivos de configuração de editores
.vscode/
.idea/